.App {
  text-align: center;
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

.Header {
  display: grid;
  grid-template-rows: 0px;
  font-family: "Markazi Text", serif;
}

.Nav{
  display: grid;
  place-items: center;
  grid-template-columns: 0.2fr repeat(7, 1fr) 0.2fr;
  grid-template-rows: auto;
  position: sticky;
  top: 0;
  padding-left: 7%;
  padding-right: 7%;
  background-color: white;
  z-index: 1;
}

.Nav-menu {
  list-style-type: none;
  display: grid;
  place-items: center;
  text-align: center;
  grid-template-columns: repeat(7, 1fr);
  grid-column: 2/ span 7;
  grid-template-rows: repeat(auto,100px);
  grid-row: auto;

}

.Nav-logo {
  max-width: 200px;
  display: inline-block;
}

.Nav-link {
  cursor: pointer;
  text-decoration: none;
  color: rgb(52, 62, 52);
  font-family: "Karla", sans-serif;
  font-weight: bold;
}

.Main {
  display: grid;
  background-color: white;
  place-items: center;
  text-align: center;
  grid-template-rows: auto auto auto;
}

.Footer{
  background-color: white;
  display: grid;
  place-items: center;
  grid-template-columns: auto repeat(4, 1fr) auto;
  grid-template-rows: auto;
  max-width: 100%;
}

.Footer-menu{
  list-style-type: none;
  display: grid;
  place-items: center;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 2/ span 4;
}

.Footer-logo {
  max-width: 100px;
  object-fit: contain;
}

.Footer-link {
  text-decoration: none;
  color: rgb(52, 62, 52);
  font-family: "Karla", sans-serif;
}

.CallToAction {
  display: flex;
  border: none;
  background-color: #495E57;
  min-width: 100%;
  height: 300px;
  text-align: left;
  margin-top: 0%;
  position:relative;
  overflow:visible;
}

.CallToActionCard {
  max-width: 25%;
  padding-right: 10%;
  padding-left: 15%;
  margin-left: 10%;
}

.Header1 {
  margin-top: 5%;
  font-family: "Markazi Text", serif;
  font-weight: 400;
  font-size: 46px;
  color: #F4CE14;
  margin-bottom: 0%;
  height: 15%;
}

.Header2 {
  margin-top: 0%;
  padding-top: 0%;
  font-family: "Markazi Text", serif;
  font-weight: 400;
  font-size: 32px;
  height: 10%;
  color: white;
}

.Actionmessage {
  font-family: "Karla", sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin-top: 0%;
  color: white;
  width: 235px;
  height: fit-content;
}

.Actionbutton {
  border: none;
  height: 35px;
  width: 160px;
  border-radius: 10px;
  background-color: #F4CE14;
  font-family: "Karla", sans-serif;
  font-size: 17px;
  font-weight: 750;
  color: #333333;
  margin-bottom: 10%;
  padding: 2px 10px;
}

.Actionimage {
  margin-top: 0%;
  margin-right: 5%;
  margin-left: 21%;
  height: 400px;
  transform: translateY(-35px); 
  clip-path: inset(15% 5% 10% 0% round 3%);
}

.Specials {
  display: grid;
  grid-template-rows: auto auto;
  min-width: 100%;
  padding-top: 75px;
}

.Specialsaction {
  display: flex;
  border: none;
  height: 100px;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 12%;
}

.Specialsheader {
  margin-top: 0%;
  font-family: "Markazi Text", serif;
  font-weight: 600;
  font-size: 46px;
  color: #333333;
  margin-bottom: 0%;
  height: 15%;
  padding-right: 30%;
  padding-left: 15%;
}

.Specialsbutton {
  border: none;
  height: 50px;
  width: 160px;
  border-radius: 10px;
  background-color: #F4CE14;
  font-family: "Karla", sans-serif;
  font-size: 17px;
  font-weight: 750;
  color: #333333;
  padding: 3px 10px;
  margin-left: 5%;
}

.Specialslist {
  display: flex;
  border: none;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  margin-right: 11%;
  margin-left: 18%;
}

.Dishcard {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 190px 75px 150px 50px 50px;
  overflow: hidden;
  width: 400px;
  margin: 0% 3% 0% 3%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #EDEFEE;
  text-align: left;
}

.Dishimage {
  grid-column: span 2;
  margin-bottom: 1px;
  height: 200%;
  clip-path: inset(0% 0% 50% 0% round 0%);
}

.Dishname {
  font-family: "Markazi Text", serif;
  font-weight: 600;
  font-size: 20px;
  margin: 15% 0% 0% 20%;
}

.Dishprice {
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 14px;
  color: #EE9972;
  margin: 18% 5% 0% 50%;
}

.Dishdescription {
  grid-column: span 2;
  font-family: "Karla", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #495E57;
  margin: 0% 10% 0% 10%;
}

.Dishaction {
  grid-column: span 2;
  max-width: 100%;
  display: flex;
  font-family: "Karla", sans-serif;
  font-size: 15px;
  font-weight: 750;
  text-align: left;
  color: #495E57;
  margin: 0% 10% 0% 10%;
  border: none;
  background-color: none;
}

.Deliveryicon {
  margin: 15px 0 0 10px;
  height: 20px;
  
}
.section {
  width: 100%;
}
.Active-link {
  color: #F4CE14;
  font-weight: 900;
}

.Bookingpage {
  display: grid;
  grid-template-rows: auto;
  text-align: left;
  min-width: 100%;
  height: 1000px;
  padding-top: 75px;
  background-image: url('./images/icons_assets/restaurant\ chef\ B.jpg');
}

.Bookingheader {
  margin-top: 0%;
  font-family: "Markazi Text", serif;
  font-weight: 600;
  font-size: 64px;
  color: white;
  margin-bottom: 0%;
  height: 15%;
  padding-right: 30%;
  padding-left: 15%;
}


.Formfields {
  margin-left: 15%;
  text-align: left;
  max-width: 100%;
  display: grid;
  width: 1000px;
  font-family: "Karla", sans-serif;
  font-size: 15px;
  font-weight: 750;
  color: white;

}

.Formlabel {
  font-family: "Markazi Text", serif;
  font-weight: 300;
  font-size: 40px;
  color: white;
}

.Forminput {
  font-family: "Karla", sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: #495E57;
  border: none;
  border-radius: 10px;
  background-color: #EDEFEE;
  padding: 2% 1% 2% 3%;
}

.Formbutton {
  cursor: pointer;
  border: none;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  background-color: #F4CE14;
  font-family: "Karla", sans-serif;
  font-size: 17px;
  font-weight: 750;
  color: #333333;
  padding: 3px 10px;
  margin: 3% 0 0 0;
}

.Formbutton:disabled {
  cursor: default;
  background-color: #495E57;
  color: grey;
}

.ConfirmHeader {
  margin-top: 0%;
  font-family: "Markazi Text", serif;
  font-weight: 600;
  font-size: 100px;
  color: white;
  margin-bottom: 0%;
  height: 15%;
  text-align: center;
}

.SubConfirmHeader {
  margin-top: 0%;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #495E57;
  margin-bottom: 0%;
  height: 30%;
  text-align: center;
  margin: 0 20% 0 20%;
  padding: 2% 10% 2% 10%;
  background-color: #EDEFEE;
}

.Guestsnumber {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin: 0 0 0 0;
  color: white;
  text-align: left;
}
/*For smaller screens*/
@media (max-width: 800px) {
  .Nav{
    position: sticky;
    top: 0;
  }
  
  .Nav-menu {
    list-style-type: none;
    display: inline-block;
    place-items: center;
    text-align: center;
    overflow: hidden;
  }
  
  .Nav-logo {
    max-width: 200px;
    display: inline-block;
  }
  
  .Nav-link {
    text-decoration: none;
    color: rgb(52, 62, 52);
    max-height: 0;
    transition: max-height .5s ease-out;
  }

  .Footer{
    background-color: rgb(130, 131, 128);
  }
  
  .Footer-menu{
    list-style-type: none;
    display: inline-block;
    place-items: center;
    text-align: center;
  }
  
  .Footer-logo {
    max-width: 100px;
    display: inline-block;
  }
  
  .Footer-link {
    text-decoration: none;
    color: rgb(52, 62, 52);
  }
}